body{
    background: url(victor-rodriguez-IiLFMkqiFrM-unsplash.jpg);
    box-sizing: border-box;
}
h1,h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    display: block;
    margin: auto;
    margin-top: 20px;
}
p{
    text-align: center;
}