body{
    background: url(victor-rodriguez-IiLFMkqiFrM-unsplash.jpg) no-repeat;
    box-sizing: border-box;
}
h1,h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    display: block;
    margin: auto;
    margin-top: 20px;
}

#reset-btn{
    text-decoration: none;
    background-color: red;
    height: 50px;
    width: 180px;
    color: aliceblue;
    border-radius: 5px;
    font-weight:bold;
    
       
}

#save-btn{
    text-decoration: none;
    background-color: blueviolet;
    height: 50px;
    width: 180px;
    color: aliceblue;
    border-radius: 5px;
    border-radius: 5px;
    font-weight:bold;

}
#Increment-btn{
    background-color: brown;
    height: 50px;
    width: 180px;
    color: aliceblue;
    border-radius: 5px;
    box-shadow:none ;
    border-radius: 5px;
    font-weight:bold;
}

p{
    text-align: center;
}